<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form onsubmit="event.preventDefault()" class="box">
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your username and password!</p> 
                        <input type="text" id="username" name="login" placeholder="Username"> 
                        <input type="password" id="password" name="login" placeholder="Password"> 
                        <a class="forgot text-muted" href="#">Forgot password?</a>
                        <button class="btnLogin" id="loginBtn">Login</button>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
    }
        return "";
    }

    $('#loginBtn').click(function(){
        $.ajax({
            url: '/auth/login',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
            }
        })
        .then(data =>{
            console.log(data)
            setCookie('token', data.token, 1)
            window.location.href = ('/')
        })
        .catch(err =>{
            console.log(err)
        })
    })

</script>

</html>