<div class="mt-4">
    <h3>Thêm sinh viên</h3>

    <form method="POST" class="mt-4" action="/students/store">
        <div class="form-group">
            <label for="name">Tên sinh viên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="image">Tuổi</label>
            <input type="text" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <label for="image">Lớp</label>
            <input type="text" class="form-control" id="class" name="class">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="introduce">Giới thiệu</label>
            <textarea type="text" class="form-control" id="introduce" name="introduce"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Thêm sinh viên</button>
    </form>
</div>