<div class="mt-4">
    <div class="row"></div>
        <div class="col-lg-9">
            <h2>{{student.name}}</h2>
            <p>{{student.age}}</p>
            <img src="{{student.image}}" alt="">
        </div>
        <div class="col-lg-3">
            <a href="">
                <button>Cập nhật</button>
            </a>
        </div>
         <div class="col-lg-9">
            <table></table>
        </div>
    </div>
</div>